<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de documentacion tecnica</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav id="navbar">
        <header>
            <label for="">Motos del Mercado</label>
        </header>
        <ul type="none" id="nav-marcas">
            <li class="nav-link">
                <a href="#bajaj">Bajaj</a>
                <ul type="none">
                    <li ><a href="#NS200">Rouser ns200</a></li>
                    <li ><a href="#Dominar250">Dominar 250</a></li>
                </ul>
            </li>
            <li class="nav-link"><a href="#benelli">Benelli</a></li>
            <li class="nav-link"><a href="#ducati">Duccati</a></li>
            <li class="nav-link">
                <a href="#honda">Honda</a>
                <ul type="none">
                    <li ><a href="#twister250">Twister 250cc</a></li>
                    <li ><a href="#cb300r">Cb 300r</a></li>
                </ul>
            </li>
            <li class="nav-link">
                <a href="#ktm">Ktm</a>
                <ul type="none">
                    <li ><a href="#duke200">Duke 200cc</a></li>
                    <li ><a href="#rc200">Rc 200cc</a></li>
                </ul>
            </li>
            <li class="nav-link"><a href="#piaggio">Piaggio</a></li>
            <li class="nav-link"><a href="#kawasaki">Kawasaki</a></li>
            <li class="nav-link"><a href="#sym">Sym</a></li>
            <li class="nav-link"><a href="#yamaha">Yamaha</a></li>
        </ul>
    </nav>
    <main id="main-doc">
        <div>
            <h1>Especificacion tecnica</h1>
            <h2>Modelos entre 200cc y 300cc </h2>   
        </div>  
        <section class="main-section" id="Bajaj">
            <header>
                <h2 >Bajaj</h2>
            </header>
            <h4 id="NS200">Rouser Ns 200cc</h4>
            <img src="https://lamoto.com.ar/wp-content/uploads/2018/07/Bajaj-Rouser-NS-200-Fi-estatica.jpg" alt="Moto Rouser Ns 200">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
            <h4 id="Dominar250">Dominar 250cc</h4>
            <img src="https://stat.overdrive.in/wp-content/uploads/2020/07/2020-Bajaj-Dominar-250-120.jpg" alt="Moto Bajaj Domiar 250">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
            <a href="">Mas info!</a>
        </section>
        <section class="main-section" id="Benelli">
            <header>
                <h2 >Benelli</h2>
            </header>
            <h4>Leoncino 250cc</h4>
            <img src="https://benellimotosblog.files.wordpress.com/2018/06/b_k_speed_benelli_leoncino_scrambler_.jpg" alt="Benelli Leoncino 250cc">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
            <a href="">Mas info!</a>
        </section>
        <section class="main-section" id="Ducati">
            <header>
                <h2 >Ducati</h2>
            </header>
            <h4>Scrambler 400cc(La cilindrada mas baja)</h4>
            <img src="https://cdn.shopify.com/s/files/1/2599/6732/files/S__39067701_1024x1024.jpg?v=1558376465" alt="Ducati Scrambler 400">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
            <a href="">Mas info!</a>
        </section>
        <section class="main-section" id="Honda">
            <header>
                <h2 >Honda</h2>
            </header>
            <h4 id="twister250">Twister 250cc</h4>
            <img src="https://lamoto.com.ar/wp-content/uploads/2020/01/honda-7.jpg" alt="Honda twister 250cc">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
            <a href="">Mas info!</a>
            <h4 id="cb300r">Cb300r</h4>
            <img src="https://www.larazon.es/resizer/bTXkCOXXV59EiHhn3L0F6ViX49E=/600x400/smart/filters:format(webp):quality(65)/cloudfront-eu-central-1.images.arcpublishing.com/larazon/BF5WABMVLBGL5CYGCBIXF575LU.jpg" alt="Honda Cb300r">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
            <a href="">Mas info!</a>
        </section>
        <section class="main-section" id="Ktm">
            <header>
                <h2 >Ktm</h2>
            </header>
            <h4 id="duke200">Duke 200cc</h4>
            <img src="https://lamoto.com.ar/wp-content/uploads/2020/05/ktm-200-2.jpeg" alt="Ktm duke 200cc">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
            <h4 id="rc200">Rc 200cc</h4>
            <img src="https://acnews.blob.core.windows.net/imgnews/extralarge/NAZ_42821d5e685f4cb09710f269b297196e.jpg" alt="Ktm rc 200cc">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
            <a href="">Mas info!</a>
        </section>
        <section class="main-section" id="Piaggio">
            <header>
                <h2 >Piaggio</h2>
            </header>
            <h4>Vespa GTS 300cc</h4>
            <img src="https://sandowalsky.com/wp-content/uploads/2019/12/Vespa-GTS-300_3.jpg" alt=" Vespa GTS 300">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
            <a href="">Mas info!</a>
        </section>
        <section class="main-section" id="Kawasaki">
            <header>
                <h2 >Kawasaki</h2>
            </header>
            <h4>Ninja 300cc</h4>
            <img src="http://1.bp.blogspot.com/-iWm8rIBwuk4/UF-PpJm3bYI/AAAAAAAAFic/DrDmBTSDYow/s400/Kawasaki-Ninja-300-ii.jpg" alt="Kawasaki Ninja 300">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
            <a href="">Mas info!</a>
        </section>
        <section class="main-section" id="Sym">
            <header>
                <h2 >Sym</h2>
            </header>
            <h4>Cruisym 300cc</h4>
            <img src="https://motor.elpais.com/wp-content/uploads/2021/07/SYMCruisym300_3-1800x728.jpg" alt="Sym Cruisym 300">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
            <a href="">Mas info!</a>
        </section>
        <section class="main-section" id="Yamaha">
            <header>
                <h2 >Yamaha</h2>
            </header>
            <h4>MT 03 300cc</h4>
            <img src="https://i.pinimg.com/originals/0e/6c/ea/0e6cea565f350fdd636f37653bf1b684.jpg" alt="Yamaha MT 03">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
            <a href="">Mas info!</a>
        </section>
    </main>
</body>
