<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de documentacion tecnica</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <header>
            <label for="">Motos del Mercado</label>
        </header>
        <main>
            <ul type="none">
                <li><a href="">Appia</a></li>
                <li><a href="">Bajaj</a></li>
                <li><a href="">Benelli</a></li>
                <li><a href="">Honda</a></li>
                <li><a href="">Ktm</a></li>
                <li><a href="">Kawasaki</a></li>
                <li><a href="">Sym</a></li>
                <li><a href="">Yamaha</a></li>
            </ul>
        </main>
    </nav>
    <main id="principal">
        <div>
            <h1>Especificacion tecnica</h1>
            <h2>Modelos entre 200cc y 300cc </h2>   
        </div>  
        <article class="posteo">
            <img src="" alt="">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
        </article>
        <article class="posteo">
            <img src="" alt="">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
        </article>
        <article class="posteo">
            <img src="" alt="">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
        </article>
        <article class="posteo">
            <img src="" alt="">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
        </article>
        <article class="posteo">
            <img src="" alt="">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
        </article>
        <article class="posteo">
            <img src="" alt="">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
        </article>
        <article class="posteo">
            <img src="" alt="">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
        </article>
        <article class="posteo">
            <img src="" alt="">
            <b>Descripciones</b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. voluptates ducimus quia ea ab ex culpa odit veniam, voluptate unde itaque vero praesentium eum eveniet?</p>
        </article>
    </main>
</body>
</html>