*{
    margin:0%;
    padding:0px;
    box-sizing: border-box;
}

:root{
    --beige:#F0EBE3;
    --gris:#E4DCCF;
    --verdeazul:#7D9D9C;
    --oscuro:#576F72;
}

body{
    background-color: var(--oscuro);
    display:flex;
    height: 100%;
    background-color: var(--verdeazul);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
::-webkit-scrollbar {
    width: 10px;
    height: 115px;
  }
  ::-webkit-scrollbar-track:hover {
    background: rgb(170, 163, 152);
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-track {
    background: rgba(228, 220, 207,0.5);
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--verdeazul);
    border: 0px none #ffffff;
    border-radius: 50px;
  }
/*Menu lateral*/

nav{
    background-color: var(--beige);
    position:fixed;
    border-right:solid 2px gray;
    width: 30%;
    flex-grow: 0.3;
    align-items: center;
    height: 100%;
    overflow-y:auto;
    overflow-x: hidden;
}

nav header label{
    font-size: 2.8vw;
    width: 25%;
    padding: 0px 1.3%;
}


nav #nav-marcas{
    margin-top:4vw;
}

nav .marcas{
    font-size:1.4vw;
    display: flex;
    padding:6% 0px;
    border-top:solid 1px gray;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav a{
    margin-left: 5%;
    
    color: gray;
}

nav .marcas:hover {
    animation-name: Menu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.marcas ul{
    width: 35%;
    font-size: 1vw;
    display: none;
}

.marcas:hover ul{
    display: flex;
    flex-direction: column;
    animation-name: options;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.marcas ul li{
    width: 100%;
}
@keyframes options {
    0%{

        opacity: 0;
    }
    100%{
        
        opacity: 100%;
    }

}
@keyframes Menu {
    50%{
        padding:8% 0px;
        font-size: 1.5vw;
        transform: translateX(-2vw);
    }
    100%{
        padding:10% 0px;
        font-size: 2vw;
        padding-right:2vw;
        background-color:rgba(125, 157, 156, 0.5) ;
    }
}


/*Menu lateral*/
/*Menu Main*/


main{
    margin-left: 35%;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    background-color: var(--oscuro);
}

main article{
    display: block;
    margin:5% 0px;
}
main article b,main article p{
    display: block;
}

article img{
    width: 80%;
    padding:4% 0px;
    margin: 0px 6vw;
}

article h4{
    margin:2% 0px;
}
main h1,main h2{
    text-align: center;
}

/*Menu Main*/
